html, body {
  margin: 0;
  height: 100%;
}

.bar {
    fill: #0080FF
}

.bar:hover {
    fill: red
}

.linez:hover {
    stroke: red
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

.text {
    font-family: sans-serif
}

.axis text
{
    fill: #333;
    font-family: sans-serif;
    font-size: 10px;
}
.axis .domain
{
    opacity: 0;
}
.tick
{
    stroke: #ccc;
}
